@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

*{
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Poppins", sans-serif;
}

p{
    margin-top: 20px;
    text-align: center;
}

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);;
    width: 225px;
    margin: auto;
}
